include ../../mixins/product-page

-
	var PRODUCT_NAME = 'Neoveris'
	var PRODUCT_CARD = LANG.product_card;
	var CURRENT_PRODUCT = LANG.neoveris;
	var RECOMMENDATIONS = LANG.recommendations.filter(prod => prod.name === 'Steplex' || prod.name === 'Exofeet Oil' || prod.name === 'Delislim')
	var REVIEWS = LANG.reviews.reviews_neoveris;
	REVIEWS.length = 3;

+productPage(PRODUCT_NAME, PRODUCT_CARD, CURRENT_PRODUCT, RECOMMENDATIONS, REVIEWS)
