include ../../mixins/product-page

-
	var PRODUCT_NAME = 'Visoptic DUO Night'
	var PRODUCT_CARD = LANG.product_card;
	var CURRENT_PRODUCT = LANG.visoptic_duo_night;
	var RECOMMENDATIONS = LANG.recommendations.filter(prod => prod.name === 'Visoptic DUO Day' || prod.name === 'Beauty Age Skin' || prod.name === 'Beauty Age Skin Peeling')
	var REVIEWS = LANG.reviews.reviews_visoptic_duo_night;
	REVIEWS.length = 3;

+productPage(PRODUCT_NAME, PRODUCT_CARD, CURRENT_PRODUCT, RECOMMENDATIONS, REVIEWS)