include ../data/reviews_beauty-age-skin
include ../data/reviews_beauty-age-complex
include ../data/reviews_beauty-age-skin-peeling
include ../data/reviews_delislim
include ../data/reviews_deluron-forte
include ../data/reviews_depanten
include ../data/reviews_exofeet-oil
include ../data/reviews_feronex
include ../data/reviews_keramin
include ../data/reviews_neoveris
include ../data/reviews_ottomax
include ../data/reviews_paraxan
include ../data/reviews_steplex
include ../data/reviews_vermixin
include ../data/reviews_visoptic-duo
include ../data/reviews_visoptic-duo-day
include ../data/reviews_visoptic-duo-night
include ../data/reviews_wintex-ultra
include ../data/reviews_wirex-mens-formula
include ../data/reviews_ophtalax
include ../data/reviews_rectin
