-
    const steplexReviews = [
        {
            src: 'img/review_steplex_1.png',
            name: "Мария Вергас",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Очень быстро снимает боль и воспаление. Была проблема с коленным суставом, с трудом вставала на ногу. После использования Steplex сразу стало легче. Уже несколько месяцев даже не вспоминаю о проблеме!"
        },

        {
            src: 'img/review_steplex_2.png',
            name: "Сара Пиларсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Хорошо помогает восстановить сустав и убрать боль. Натуральный состав, быстрое действие, приятные ощущения сразу после нанесения. Осталась очень довольна гелем!"
        },

        {
            src: 'img/review_steplex_3.png',
            name: "Михаэль Фердинес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Использую Steplex от боли в мышцах и при ушибах. Помогает! Сразу становится легче."
        },

        {
            src: 'img/review_steplex_4.png',
            name: "Лео Родригез",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;STEPLEX',
            text: "Мама упала с лестницы, ударилась локтем, отечность, воспаление. Steplex за несколько дней все убрал! Сейчас начала на колени наносить, говорит, вообще перестали болеть!"
        },

        {
            src: 'img/review_steplex_5.png',
            name: "Лейла Паркинс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Steplex — замечательный гель. Работает быстро и эффективно! Использую и при отеках, и при воспалениях суставов, помогает убрать боль при ушибах! Незаменимая вещь!"
        },

        {
            src: 'img/review_steplex_6.png',
            name: "Роберта Гарсиа",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "После работ в саду, Steplex — лучшая помощь! Быстро и эффективно. Спасибо за такое качественное средство!"
        },

        {
            src: 'img/review_steplex_7.png',
            name: "Изабелла Сервандес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Использовала Steplex курсом несколько месяцев назад, о боли в суставах забыла. Всегда держу гель при себе на экстренный случай."
        },

        {
            src: 'img/review_steplex_8.png',
            name: "Фердинанд Гомез",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;STEPLEX',
            text: "Быстро снимает болевой синдром и убирает воспаление. До Steplex перепробовал более 10 мазей и кремов, эффекта не было!"
        },

        {
            src: 'img/review_steplex_9.png',
            name: "Альфред Швальц",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;STEPLEX',
            text: "Если таблетки не помогают или запрещено принимать, а нужно быстро убрать боль, Steplex — лучшее решение. 10 из 10!"
        },

        {
            src: 'img/review_steplex_10.png',
            name: "Сильвия Диадес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "В первый раз попробовала Steplex еще в прошлом году. С тех пор ничего другого не беру. Всем рекомендую только Steplex!"
        },

        {
            src: 'img/review_steplex_11.png',
            name: "Марио Доррес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;STEPLEX',
            text: "Помог при воспалении тазобедренного сустава. Довольно быстро был результат. Хорошее средство."
        },

        {
            src: 'img/review_steplex_12.png',
            name: "Ребекка Уортонес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Оценила эффективность Steplex после первого применения. Приятное ощущение после нанесения и боль быстро утихла. Еще несколько дней и полностью восстановилась."
        },

        {
            src: 'img/review_steplex_13.png',
            name: "Долорес Фреймфорк",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Steplex заказываю для мамы. У нее очень серьезные проблемы с суставами и хрящами. Говорит, только Steplex помогает!"
        },

        {
            src: 'img/review_steplex_14.png',
            name: "Энтони Фуаргес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;STEPLEX',
            text: "Столкнулся с отложением солей в суставах. Сустав на пальце ноги покраснел, отек, появилась острая боль. Пил обезболивающие, пока не посоветовали Steplex. Помог довольно быстро! Все прошло и боль исчезла!"
        },

        {
            src: 'img/review_steplex_15.png',
            name: "Августа Петрес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;STEPLEX',
            text: "Прекрасный гель с быстрым эффектом. Не жжет, только приятное охлаждение. Хорошая цена за такой замечательный продукт!"
        },
    ]
