-
    const exofeetOilReviews = [
        {
            src: 'img/review_exofeet-oil_1.png',
            name: "Габриэль Вернос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Пробовала капли Exofeet Oil еще в прошлом году. Проблема исчезла и с тех пор не появлялась. Кожа и ногти на ногах здоровые, ничего не беспокоит."
        },

        {
            src: 'img/review_exofeet-oil_2.png',
            name: "Оливия Болтон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Exofeet Oil',
            text: "С первых дней применения средства Exofeet Oil пропал зуд и неприятный запах. Продолжаю использовать курсом до полного устранения проблемы."
        },

        {
            src: 'img/review_exofeet-oil_3.png',
            name: "Лина Ивашеску",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "С грибком жила годами, а оказалась так легко можно от него избавиться. Благодаря Exofeet Oil забыла о нем и надеюсь, что навсегда!"
        },

        {
            src: 'img/review_exofeet-oil_4.png',
            name: "Димитрий Жехнад",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Имею положительный опыт использования средства Exofeet Oil. От грибка избавился. Зуд, неприятный запах, трещины на ногах прошли быстро!"
        },

        {
            src: 'img/review_exofeet-oil_5.png',
            name: "Фернанда Торрес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Exofeet Oil — замечательное средство! Удобно использовать, имеет приятный аромат. Но главное, что помогает. Устраняет зуд и помогает избавиться от грибка."
        },

        {
            src: 'img/review_exofeet-oil_6.png',
            name: "Амелия Левансон",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Теперь верю, что можно попрощаться с грибком ногтей за несколько недель. До этого мучилась месяцами. Спасибо за Exofeet Oil!"
        },

        {
            src: 'img/review_exofeet-oil_7.png',
            name: "Лоренцо Ибанес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Жена заказывала Exofeet Oil, доставили за пару дней. Трещины зажили, зуд пропал. Наконец избавился от неприятного запаха. 10 из 10!"
        },

        {
            src: 'img/review_exofeet-oil_8.png',
            name: "Ария Доусон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Хорошее средство по доступной цене. От грибка помогает, убирает все признаки поражения и восстанавливает кожу и ногти. Довольна на 100%!"
        },

        {
            src: 'img/review_exofeet-oil_9.png',
            name: "Лиззи Лаундес",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Старалась избавиться от грибка с помощью разных кремов и народных средств. Все напрасно. Помог только Exofeet Oil. С первых дней пропал зуд, а потом и все остальное. Теперь здоровые ножки!"
        },

        {
            src: 'img/review_exofeet-oil_10.png',
            name: "Марта Годдес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Про Exofeet Oil знаю уже давно. По своему опыту могу сказать, что это лучшее средство от грибка! После курса ни на коже, ни на ногтях никаких следов!"
        },

        {
            src: 'img/review_exofeet-oil_11.png',
            name: "Павлина Рекбеш",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Exofeet Oil заказала недавно, уже вижу результат. Кожа увлажнилась, стала мягче, даже огрубевшие участки смягчились. Надеюсь, скоро перестану прятать свои ноги в закрытой обуви…"
        },

        {
            src: 'img/review_exofeet-oil_12.png',
            name: "Ролана Петраску",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Если нужно эффективное и недорогое средство от грибка, рекомендую Exofeet Oil! Быстро помогает и позволяет навсегда забыть об этой заразе!"
        },
        {
            src: 'img/review_exofeet-oil_13.png',
            name: "Ингрид Шартон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Чтобы справиться с грибком, нужно иметь много терпения. Проблема требует длительной терапии, это все знают. Но с помощью Exofeet Oil все было быстро и эффективно. Один курс — и полностью здоровые ногти!"
        },

        {
            src: 'img/review_exofeet-oil_14.png',
            name: "Алехандро Мальбер",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Было некомфортно из-за запаха, когда снимаю обувь, жена принесла мне Exofeet Oil. Средство помогло. Запаха нет, ноги перестали чесаться после обуви. Полгода как не пользуюсь, а проблема не возвращается!"
        },

        {
            src: 'img/review_exofeet-oil_15.png',
            name: "Нинель Ламберт",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Exofeet Oil',
            text: "Помог избавиться от грибка за несколько недель! Состояние кожи улучшилось, ногти растут здоровые и крепкие. Будьте осторожны, когда выбираете мастера маникюра, а лучше имейте про запас Exofeet Oil!"
        },
    ]
