-
    const visopticDuoNightReviews = [
        {
            src: 'img/review_visoptic-duo-night_1.png',
            name: "Эмма Мэйсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Работаю за компьютером и с Visoptic Duo Night глазам стало намного лучше. Снимают усталость с глаз. Из плюсов: натуральный состав и удобно использовать."
        },

        {
            src: 'img/review_visoptic-duo-night_2.png',
            name: "Альберта Торнтон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Замечательное средство для людей, которые имеют проблемы с глазами. Глаза стали меньше уставать, пропало ощущение сухости и раздражение на свет."
        },

        {
            src: 'img/review_visoptic-duo-night_3.png',
            name: "Лорен Грабс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Visoptic Duo Night помог снять воспаление. С первых дней использования стало лучше, пропал дискомфорт в глазах и слезоточивость."
        },

        {
            src: 'img/review_visoptic-duo-night_4.png',
            name: "Орест Швальн",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Проблемы с глазами имею с 25 лет. От осложнений спасает только это средство. Как только чувствую дискомфорт, сразу использую. Зрение действительно становится лучше."
        },

        {
            src: 'img/review_visoptic-duo-night_5.png',
            name: "Габриэль Виральди",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Отличное средство от катаракты и для поддержки здоровья глаз. Помогают улучшить зрение, устранить дискомфорт и сухость в глазах."
        },

        {
            src: 'img/review_visoptic-duo-night_6.png',
            name: "Марио Габрилос",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Использую Visoptic Duo Night для здоровья глаз. Помогают. В 57 лет живу без очков и линз, вижу хорошо, даже к вечеру предметы и текст в газете вижу четко."
        },

        {
            src: 'img/review_visoptic-duo-night_7.png',
            name: "Альберто Диаз",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Недорогое средство. Натуральное. Эффективное при разных проблемах со зрением. Подходит для профилактики нарушений."
        },

        {
            src: 'img/review_visoptic-duo-night_8.png',
            name: "Виктория Ошвальд",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "После аварии думала, что уже не смогу видеть. Visoptic Duo Night помог восстановить зрение. Проблемы еще есть, но с каждым курсом становится лучше!"
        },

        {
            src: 'img/review_visoptic-duo-night_9.png',
            name: "Каталина Лопес",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Не люблю капли, поэтому использую Visoptic Duo Night. Капсулы намного удобнее, к тому же результат есть. Никакого дискомфорта в глазах даже после целого дня за монитором."
        },

        {
            src: 'img/review_visoptic-duo-night_10.png',
            name: "Агния Фергано",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO NIGHT',
            text: "Прекрасно справляются с любыми глазными недугами. Воспаления, сухость, слезоточивость, дискомфорт — все убирают. Еще и зрение становится лучше!"
        },
    ]
