-
    const tensitalReviews = [
        {
            src: 'img/review_tensital_1.png',
            name: 'Бьянка Либранте',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Очень довольна средством Tensital. Мягко снижает давление, устраняет головную боль. Пропила курс и забыла о повышенном давлении!'
        },
        {
            src: 'img/review_tensital_2.png',
            name: 'Марта Родригес',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Заказала Tensital по совету знакомого специалиста. Прекрасное средство, натуральный состав. Результат ощутила: давление перестало скакать и чувствую себя отлично!'
        },
        {
            src: 'img/review_tensital_3.png',
            name: 'Хельга Рамос',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Покупала Tensital для мужа. Говорит, что только это средство ему и помогает. Лучше себя чувствует и на давление перестал жаловаться.'
        },
        {
            src: 'img/review_tensital_4.png',
            name: 'Луиза Брук',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Tensital — лучшее средство, которое я пробовала! Натуральный состав, без побочных свойств, действительно помогает. Давление всегда в норме теперь.'
        },
        {
            src: 'img/review_tensital_5.png',
            name: 'Роберт Хартон',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TENSITAL',
            text: 'Спасибо за Tensital, быструю доставку и подробную консультацию. Буду заказывать еще!'
        },
        {
            src: 'img/review_tensital_6.png',
            name: 'Глория Адлер',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Пробовала много средств для снижения давления. Tensital — лучший! Давление перестало скакать, побочных свойств не вызвал. Рекомендую!'
        },
        {
            src: 'img/review_tensital_7.png',
            name: 'Теодор Винтер',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TENSITAL',
            text: 'Принимаем Tensital с женой, вдвоем страдали от повышенного давления. Результат есть: ни скачков, ни головной боли. Даже в жаркую погоду лучше себя стали чувствовать.'
        },
        {
            src: 'img/review_tensital_8.png',
            name: 'Майкл Роллон',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TENSITAL',
            text: 'Заказывал Tensital для мамы. Давление поднималось до 200/125! Сначала еле уговорил попробовать, а потом она сама попросила заказать еще упаковку.'
        },
        {
            src: 'img/review_tensital_9.png',
            name: 'Патриция Веласкес',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Принимаю Tensital вторую неделю. Чувствую, что мне стало лучше. Головная боль пропала, давление стабилизировалось. Буду продолжать.'
        },
        {
            src: 'img/review_tensital_10.png',
            name: 'Петра Швальц',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Годами мучилась от повышенного давления, только Tensital помог забыть, что это такое. Два раза в год прохожу профилактический курс и тонометр подтверждает эффективность!'
        },
        {
            src: 'img/review_tensital_11.png',
            name: 'Вера Лобрец',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Tensital попробовала недавно. Результат ощутила с первых дней. Стала намного лучше себя чувствовать, но буду продолжать принимать, чтобы полностью пройти курс!'
        },
        {
            src: 'img/review_tensital_12.png',
            name: 'Каталина Фергара',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Tensital — лучшее, что пробовала за последние годы. Снижает давление без резких скачков, ни боли в груди, ни головокружений! Замечательное средство!'
        },
        {
            src: 'img/review_tensital_13.png',
            name: 'Франческа Дельвадре',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Заказала Tensital несколько недель назад. Доставили всего за пару дней, консультанты по телефону ответили на все вопросы. Эффект ощутила почти сразу.'
        },
        {
            src: 'img/review_tensital_14.png',
            name: 'Алекс Дорио',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TENSITAL',
            text: 'Принимал Tensital, чтобы очистить сосуды. Холестерин снизился и теперь в норме, давление не скачет, сердце работает спокойно. Средством остался доволен!'
        },
        {
            src: 'img/review_tensital_15.png',
            name: 'Ролана Бекшер',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TENSITAL',
            text: 'Если ищете эффективное средство с растительным составов для снижения давления и поддержки работы сердца, Tensital — то, что нужно. Мне очень помог!'
        },
    ]