-
    const inspilarReviews = [
        {
            src: 'img/review_inspilar_1.png',
            name: 'Моника Петтерсон',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Сахарный диабет — это страшно. Не знаю, как бы я жила, если бы не Inspilar. Помог мне нормализовать уровень сахара и улучшить качество жизни.'
        },
        {
            src: 'img/review_inspilar_2.png',
            name: 'Селена Варга',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Замечательный продукт! Помог привести сахар в норму, симптомы стали менее ощутимы. Продолжаю курс!'
        },
        {
            src: 'img/review_inspilar_3.png',
            name: 'Диего Санчес',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;INSPILAR',
            text: 'Ранее не верил в эффективность таких средств, но Inspilar убедил! После курса сахар перестал подниматься вообще. Думаю пропить повторный курс для закрепления результата.'
        },
        {
            src: 'img/review_inspilar_4.png',
            name: 'Фредерик Угандес',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;INSPILAR',
            text: 'Спасибо за быструю доставку, консультацию и хорошее качественное средство! Пропил курсом и забыл о симптомах повышенного сахара.'
        },
        {
            src: 'img/review_inspilar_5.png',
            name: 'Саманта Бергер',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Покупала Inspilar для мамы. Ей помогло! Сахар пришел в норму, стала лучше себя чувствовать, появилось больше сил и энергии. Средство прекрасное!'
        },
        {
            src: 'img/review_inspilar_6.png',
            name: 'Тайра Мартин',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Отлично! Сахар и холестерин теперь в норме, самочувствие улучшилось. Прошла жажда и стала лучше спать ночью. Рекомендую!'
        },
        {
            src: 'img/review_inspilar_7.png',
            name: 'Диана Орлик',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Заказала Inspilar, как только обнаружила, что сахар повышен. За курс помог мне все нормализовать и не допустить осложнений.'
        },
        {
            src: 'img/review_inspilar_8.png',
            name: 'Мартина Пехлад',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Муж принимал Inspilar полгода назад. С тех пор его состояние улучшилось, похудел. стал активным. Уровень сахара регулярно измеряем — все в норме!'
        },
        {
            src: 'img/review_inspilar_9.png',
            name: 'Грегори Ральф',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;INSPILAR',
            text: 'Не думал, что за такую цену можно купить хороший и эффективный продукт. Приятно удивил! Эффект есть, побочных свойств не обнаружил!'
        },
        {
            src: 'img/review_inspilar_10.png',
            name: 'Элизабет Дассо',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Думала, что не смогу жить с этим диагнозом… Но благодаря Inspilar моя жизнь прекрасна! Ни симптомов, ни жалоб, ни страха будущего! Спасибо за помощь!'
        },
        {
            src: 'img/review_inspilar_11.png',
            name: 'Йозеф Ковальски',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;INSPILAR',
            text: 'Давно знаю про Inspilar. Средством доволен, действительно помогает и улучшает здоровье. Отличная поддержка для людей с диабетом!'
        },
        {
            src: 'img/review_inspilar_12.png',
            name: 'Кристофер Вальц',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;INSPILAR',
            text: 'Имею положительный опыт использования Inspilar. Цена приятная, удобный способ заказа в интернете и доставка до дверей. Эффективность продукта на 100%!'
        },
        {
            src: 'img/review_inspilar_13.png',
            name: 'Дафна Мальборо',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Много слышала про Inspilar, поэтому без сомнений заказала и для себя. Это средство стало моим спасением. Помогло  мне жить нормальной и полноценной жизнью, несмотря на этот страшный диагноз.'
        },
        {
            src: 'img/review_inspilar_14.png',
            name: 'Лора Андронес',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Супер-средство для людей с повышенным сахаром. Симптомы устраняет, нормализует и поддерживает уровень сахара. Недостатков не обнаружила.'
        },
        {
            src: 'img/review_inspilar_15.png',
            name: 'Барбара Торрес',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;INSPILAR',
            text: 'Действием средства Inspilar очень довольна. Помог мне восстановиться и справиться с этой ужасной болезнью. Спасибо за качественный, отличный продукт и быструю доставку!'
        },
    ]