-
    const rectinReviews = [
        {
            src: 'img/review_rectin_1.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_2.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_3.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_4.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_5.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_6.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_7.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_8.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_9.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_10.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_11.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_12.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_13.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_14.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },

        {
            src: 'img/review_rectin_15.png',
            name: "Name - rectin",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;rectin',
            text: "Comment text - rectin"
        },
    ]

   
    