-
    const ophtalaxReviews = [
        {
            src: 'img/review_ophtalax_1.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_2.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_3.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_4.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_5.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_6.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_7.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_8.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_9.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_10.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_11.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_12.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_13.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_14.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },

        {
            src: 'img/review_ophtalax_15.png',
            name: "Name - Ophtalax",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OPHTALAX',
            text: "Comment text - Ophtalax"
        },
    ]


