-
    const uromexilForteReviews = [
        {
            src: 'img/review_uromexil-forte_1.png',
            name: "Теодор Петтерсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Помог убрать боль и воспаление. Лучше многих таблеток, которые принимал ранее."
        },

        {
            src: 'img/review_uromexil-forte_2.png',
            name: "Фридрих Шольц",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Много читал о средстве Uromexil Forte. Сам решил попробовать. Результатом доволен, может помочь даже при запущенной проблеме."
        },

        {
            src: 'img/review_uromexil-forte_3.png',
            name: "Мартина Лацвег",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Прекрасное растительное средство от проблем в мочеполовой системе. Убирает боль с первых дней, со временем и воспалительные процессы устранил."
        },

        {
            src: 'img/review_uromexil-forte_4.png',
            name: "Альберта Вальдес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "У папы были очень серьезные проблемы со здоровьем. С возрастом становилось все хуже. Настаивали на операции, но решением стал Uromexil Forte. Говорит, сейчас чувствует себя намного лучше!"
        },

        {
            src: 'img/review_uromexil-forte_5.png',
            name: "Ромео Винтерсен",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Начал ощущать болезненность при походе в туалет, позывы становились все чаще. Оказалось, воспаление. Uromexil Forte помог его убрать. После курса приема рецидивов не было."
        },

        {
            src: 'img/review_uromexil-forte_6.png',
            name: "Диего Мартинес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Uromexil Forte очень помог. И воспаление убрал, и помог вернуться к интимной жизни. Боли прошли, позывы в туалет не тревожат. Снова чувствую себя здоровым мужчиной."
        },

        {
            src: 'img/review_uromexil-forte_7.png',
            name: "Марта Партрес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Хорошо помогает при воспалении мочевого пузыря. Стало легче с первых дней! Продукт отличный с натуральным составом и эффективным действием."
        },

        {
            src: 'img/review_uromexil-forte_8.png',
            name: "Пенелопа Илонгресс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Муж принимал Uromexil Forte, когда обнаружили воспаление предстательной железы. Средство очень помогло! За курс полностью избавился от проблемы! И секс в нашу жизнь вернулся!"
        },

        {
            src: 'img/review_uromexil-forte_9.png',
            name: "Леонардо Клоучелли",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Эффект есть, побочных свойств не обнаружил. Делаю профилактические курсы, чтобы предотвратить рецидивы. Помогает!"
        },

        {
            src: 'img/review_uromexil-forte_10.png',
            name: "Эллис Дортван",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Убедила мужа принимать Uromexil Forte, когда начались проблемы “по-мужски”. Благодарит каждый день по несколько раз!"
        },

        {
            src: 'img/review_uromexil-forte_11.png',
            name: "Георг Мартелл",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Убирает воспаление, увеличивает продолжительность полового акта, обостряет ощущения. Можно совмещать с алкоголем."
        },

        {
            src: 'img/review_uromexil-forte_12.png',
            name: "Йозеф Бартош",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "С мужскими проблемами столкнулся еще в юности. С возрастом проблема усугублялась, уже думал, что это навсегда, но Uromexil Forte помог все изменить. Один курс — и никаких болей или воспалений!"
        },

        {
            src: 'img/review_uromexil-forte_13.png',
            name: "Орнест Ивальсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Помог предотвратить развитие проблемы на начальной стадии! Спасибо!"
        },

        {
            src: 'img/review_uromexil-forte_14.png',
            name: "Ребекка Алькапос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Принимала Uromexil Forte, когда появились проблемы по-женски (простыла, купаясь в океане). Результат есть, очень довольна, как работает средство. Быстро, эффективно и без побочных эффектов."
        },

        {
            src: 'img/review_uromexil-forte_15.png',
            name: "Ролан Карлос",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;UROMEXIL FORTE',
            text: "Несколько лет пользовался свечами, ужасная вещь! Когда узнал про Uromexil Forte, решил сразу попробовать. Намного лучше, эффективнее и точно приятнее свечей!"
        },
    ]
