-
    const paraxanReviews = [
        {
            src: 'img/review_paraxan_1.png',
            name: "Камилла Варгас",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Недорогой, при этом безопасный и эффективный продукт от паразитов. Принимала, когда обнаружила эту “проблему”. Помог! Теперь регулярно принимаю в профилактических целях 2 раза в год."
        },

        {
            src: 'img/review_paraxan_2.png',
            name: "Вероника Хризанто",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Долго искала эффективное средство от паразитов. Критерий был всего один — безопасность. По этой причины выбрала Paraxan. Отличное средство, если не хотите отравлять организм."
        },

        {
            src: 'img/review_paraxan_3.png',
            name: "Кларисса Моргес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Paraxan выбрала из-за состава. У меня 3 кошки, поэтому два раза в году нужна такая профилактика. А Paraxan — идеальное для этих целей средство."
        },

        {
            src: 'img/review_paraxan_4.png',
            name: "Росита Фанчес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;PARAXAN',
            text: "Категорически против аптечных продуктов, боюсь побочных свойств. Но понимаю, что иногда не справиться народными методами. Для очищения использую Paraxan. Прекрасное средство с натуральным составом."
        },

        {
            src: 'img/review_paraxan_5.png',
            name: "Хьюго Триббиани",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;PARAXAN',
            text: "Жена настаивает на приеме Paraxan два раза в год. Соглашаюсь только потому, что средство натуральное и побочных эффектов нет. Только на него и согласен."
        },

        {
            src: 'img/review_paraxan_6.png',
            name: "Бернандо Флорес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;PARAXAN',
            text: "Хорошее средство от паразитов. Принимали с женой после неудачного ужина в ресторане. Помог быстро, побочных свойств не вызвал. Держим дома на всякий случай."
        },

        {
            src: 'img/review_paraxan_7.png',
            name: "Миранда Полсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Эффективное средство. Пропивала курсом, когда была, скажем так,”необходимость”. Порадовало, что не было ни тошноты, на рвоты. Очищает без интоксикации для организма."
        },

        {
            src: 'img/review_paraxan_8.png',
            name: "Шарлотта Грейс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Paraxan действует мягко, но эффективно! Используем в профилактических целей всей семьей. Ни разу не столкнулись с побочными эффектами и паразитами, хотя живем с собаками."
        },

        {
            src: 'img/review_paraxan_9.png',
            name: "Ирэн Дайсон",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;PARAXAN',
            text: "Для тех, что живет с животными, Paraxan — идеальное средство. Эффективное очищение и отличная профилактика. Большой плюс — натуральный состав!"
        },

        {
            src: 'img/review_paraxan_10.png',
            name: "Альберт Джонсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;PARAXAN',
            text: "Проблема — деликатная и о ней неудобно говорить. Хорошо, что узнал про Paraxan. Помог очистить организм и восстановить работу ЖКТ за один курс!"
        },

        {
            src: 'img/review_paraxan_11.png',
            name: "Жоржетта Алонсо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Антипаразитарное средство Paraxan действует эффективно, но мягко и без вреда организму. После курса приема организм чистый, общее состояние улучшилось, даже кожа стала лучше!"
        },

        {
            src: 'img/review_paraxan_12.png',
            name: "Дороти Ловран",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Про Paraxan узнала недавно, но уже смогла оценить эффективность. Средство отличное. От гельминтов и следа не осталось. Впредь буду осторожнее со свежей рыбой…"
        },

        {
            src: 'img/review_paraxan_13.png',
            name: "Лора Далтон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Как поклонница суши, несколько раз сталкивалась с неприятными последствиями в виде гельминтов. В последний раз спасалась средством Paraxan. Быстро и эффективно! И для организма безвредно."
        },

        {
            src: 'img/review_paraxan_14.png',
            name: "Ролана Фокс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Если нужно хорошее и нетоксичное средство от глистов и других видов паразитов, рекомендую Paraxan. Нам с мужем очень помог!"
        },

        {
            src: 'img/review_paraxan_15.png',
            name: "Вайнона Стракс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;PARAXAN',
            text: "Paraxan прекрасно подходит для профилактики гельминтов и очищения организма. Давно использую, и ни разу это средство не подвело!"
        },
    ]
