-
    const guavitalReviews = [
        {
            src: 'img/review_guavital_1.png',
            name: 'Селена Адамс',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "С помощью Guavital+ потеряла 12 кг! Это мой максимальный результат за много лет. Было просто и легко. Тело стало стройным и подтянутым!"
        },
        {
            src: 'img/review_guavital_2.png',
            name: 'Тайра Бланк',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Guavital+ помог избавиться от постоянного чувства голода. Благодаря этому средству научилась контролировать аппетита. Пока потеряла 7 кг, продолжаю программу."
        },

        {
            src: 'img/review_guavital_3.png',
            name: 'Хлоя Верт',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Не знаю как, но это работает! Килограммы уходят, а тело подтягивается. Все проходит максимально просто и без стресса. Нравится!"
        },

        {
            src: 'img/review_guavital_4.png',
            name: 'Валери Капелла',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "За три месяца тренировок и диет потеряла всего 5 кг, а с Guavital+ ушло 11! После окончания курса вес держится и не возвращается!"
        },

        {
            src: 'img/review_guavital_5.png',
            name: 'Джена Руфус',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Впечатлил! Дает быстрый результат на весах. Побочных эффектов не обнаружила. 10 из 10!"
        },

        {
            src: 'img/review_guavital_6.png',
            name: 'Платон Картер',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Жена принимала Guavital+, похудела и очень похорошела. Выглядит, как 20 лет назад, стройная, счастливая и очень красивая!"
        },

        {
            src: 'img/review_guavital_7.png',
            name: 'Глория Симпсон',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Обожаю Guavital+. Лучший продукт для снижения веса. Есть эффект, все проходит без последствий, килограммы не возвращаются."
        },

        {
            src: 'img/review_guavital_8.png',
            name: 'Дебора Мартен',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Не могу сидеть на диетах, постоянно срываюсь. Только Guavital+ и помог избавиться от лишнего груза. Кому тяжело даются диеты, Guavital+ может помочь!"
        },

        {
            src: 'img/review_guavital_9.png',
            name: 'Луи Сантос',
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Принимали Guavital+ вместе с женой. Вес ушел, появилось больше энергии. Принимать просто и удобно. Остались довольны!"
        },

        {
            src: 'img/review_guavital_10.png',
            name: 'Доминика Глорес',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Вкусный коктейль и эффективное воздействие на организм. Без стресса и проблем смогла сбросить 11 кг! Растяжек нет, тело подтянутое и я в идеальной форме."
        },

        {
            src: 'img/review_guavital_11.png',
            name: 'Люси Робертс',
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Из-за проблем с эндокринной системой жила с лишним весом последние 12 лет. Устала быть такой! Выбрала Guavital+ для похудения и результат отличный! Минус 16 кг!"
        },
        {
            src: 'img/review_guavital_12.png',
            name: "Берта Осман",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Взяла Guavital + ради интереса, но результат удивил!Вес начала уходить уже на первой неделе приема.Дискомфорта не доставил.Вкусно, легко и эффективно!"
        },
        {
            src: 'img/review_guavital_13.png',
            name: "Лола Торелли",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Давно знаю про Guavital +.Сама с его помощью похудела, вернула уверенность в себе и всем знакомым советую.Все довольны!Из 5 человек ни одного негативного отзыва."
        },
        {
            src: 'img/review_guavital_14.png',
            name: "Агния Фокс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Читала про Guavital + в научной статье, когда нашла — сразу решила попробовать.Средство супер!Килограммы уходят, тело подтягивается, есть хочется меньше!Прекрасно!"
        },
        {
            src: 'img/review_guavital_15.png',
            name: "Марта Хоффман",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;GUAVITAL+',
            text: "Уменьшает чувство голода и дарит насыщение!Проблемы с пищеварением, как и лишние килограммы, ушли.Чувствую себя легкой и красивой.Спасибо, Guavital + !"
        },
    ]
