-
    const delislimReviews = [
        {
            src: 'img/review_delislim_1.png',
            name: "Диана Прескотт",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Выбрала Delislim из-за хорошего состава. Осталась очень довольна средством. Лишние килограммы ушли, смогла справиться с вечным чувством голода. Рекомендую!"
        },
        {
            src: 'img/review_delislim_2.png',
            name: "Люси Джонсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Ранее с опаской относилась к средствам для похудения, но Delislim очень понравился. Действует мягко, но эффективно. Помог снизить вес без побочных эффектов."
        },
        {
            src: 'img/review_delislim_3.png',
            name: "Дороти Бойнтон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "За курс Delislim потеряла 13 кг. Тело стало стройным и подтянутым. Научилась контролировать чувство голода и смогла изменить свой рацион. Результат есть!"
        },
        {
            src: 'img/review_delislim_4.png',
            name: "Белла Хоффман",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Стройностью никогда не отличалась. Но с помощью Delislim почувствовала, что значит быть стройной, легкой и хрупкой женщиной. Отличное средство!"
        },
        {
            src: 'img/review_delislim_5.png',
            name: "Агата Шелдон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Всего за курс тело пришло в форму. Лишние килограммы ушли, кожа подтянулась, целлюлит на бедрах пропал. Замечательно!"
        },
        {
            src: 'img/review_delislim_6.png',
            name: "Карл Плат",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELISLIM',
            text: "Жена заказывала Delislim для себя, но принимали вместе. Средство работает! Нам помог даже без тренировок и диет."
        },
        {
            src: 'img/review_delislim_7.png',
            name: "Павла Ковальджи",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Принимаю Delislim вторую неделю, но эффект уже есть. Ушло 4 кг! Чувствую себя прекрасно и жду дальнейших результатов на весах."
        },
        {
            src: 'img/review_delislim_8.png',
            name: "Эллена Маркос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Delislim — лучшее из всего, что есть для снижения веса. Для меня именно так! Больше года назад закончила курс с результатом -13 кг. Вес не вернулся!"
        },
        {
            src: 'img/review_delislim_9.png',
            name: "Лео Брентано",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELISLIM',
            text: "Жена уговорила попробовать Delislim. Действительно хорошее средство. Похудел на 10,5 кг. Минусов и побочных эффектов не обнаружил."
        },
        {
            src: 'img/review_delislim_10.png',
            name: "Ребби Лопаро",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Качественное,эффективное и натуральное средство, быстрая доставка, консультация специалистов — все на высшем уровне!"
        },
        {
            src: 'img/review_delislim_11.png',
            name: "Патриция Лоренс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Доставили Delislim быстро, эффект ощутила уже на первой неделе. А на второй увидела минус 5 кг на весах. А я еще сомневалась, пробовать или нет."
        },
        {
            src: 'img/review_delislim_12.png',
            name: "Хельга Шерман",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Заказывала Delislim для мамы, уговорила принимать как “витаминки”. Мама очень похудела и похорошела. Говорит, не помнит, когда в последний раз ей была так легко и хорошо!"
        },
        {
            src: 'img/review_delislim_13.png',
            name: "Тереза Райс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Очень хотела похудеть, но не тренировки времени нет, а диеты точно не подходят. Выходом стало средство Delislim. Натурально, эффективно и безопасно!"
        },
        {
            src: 'img/review_delislim_14.png',
            name: "Алисия Голдберг",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Замечательное средство. Плавно снижает вес, подтягивает кожу, помогает контролировать аппетит. Даже не думала, что смогу так быстро и легко потерять 12 кг!"
        },
        {
            src: 'img/review_delislim_15.png',
            name: "Матильда Бекшер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELISLIM',
            text: "Спасибо за качественный и эффективный продукт! Минус 10 кг, отличное самочувствие и идеальная фигура. Если тоже хотите таких результатов, рекомендую Delislim!"
        },
    ]