-
    const feronexReviews = [
        {
            src: 'img/review_feronex_1.png',
            name: "Луи Мизерес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Хорошее средство, действенное. Эффект есть, побочных свойств не вызывает. После курса помог полностью устранить проблему."
        },

        {
            src: 'img/review_feronex_2.png',
            name: "Роберт Остеон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Были проблемы при походах в туалет, Feronex помог устранить. Ушла боль, эрекция стала лучше и дольше. Нет привыкания и побочных эффектов."
        },

        {
            src: 'img/review_feronex_3.png',
            name: "Герман Строцци",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Принимал Feronex в прошлом году. С тех пор все отлично работает, “друг” всегда готов! Без проблем и осечек!"
        },

        {
            src: 'img/review_feronex_4.png',
            name: "Стелла Швейцер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;FERONEX',
            text: "Заказывала для мужа, когда появились проблемы. Помог! Муж наконец стал таким, каким помню его в молодости. Активный, уверенный в себе и страстный!"
        },

        {
            src: 'img/review_feronex_5.png',
            name: "Лукьян Росс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Действует почти сразу, при этом есть накопительный эффект. После курса проблем с эрекцией больше не было."
        },

        {
            src: 'img/review_feronex_6.png',
            name: "Панфил Ормандо",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Эффект есть, можно совмещать с алкоголем, побочных свойств не обнаружил. Использовал в качестве альтернативы стимуляторам, и после курса в них отпала необходимость."
        },

        {
            src: 'img/review_feronex_7.png',
            name: "Катария Лоусон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;FERONEX',
            text: "Мужу 56, “мужских” проблем в этом возрасте тяжело избежать. Спасибо за Feronex, который помог ему с ними справиться и снова ощутить себя молодым и здоровым!"
        },

        {
            src: 'img/review_feronex_8.png',
            name: "Ричард Пикард",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "С возрастом потенция начала слабеть, а желание угасать. Решил попробовать Feronex. Эффект впечатлил! Если раз в полгода курсами пропивать, с проблемами по мужской части можно и не столкнуться."
        },

        {
            src: 'img/review_feronex_9.png',
            name: "Клаус Роллингс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "В отличие от распространенных и всем известных стимуляторов от Feronex не болит голова. Эффект лучше с каждым днем, то есть после курса можно ничего не принимать, ты всегда готов!"
        },

        {
            src: 'img/review_feronex_10.png',
            name: "Амелия Россетти",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;FERONEX',
            text: "У мужа были начались проблемы на фоне стресса на работе. Знакомый специалист порекомендовал Feronex. Средство помогло! Интимная близость возобновилась, дольше, чаще и лучше!"
        },

        {
            src: 'img/review_feronex_11.png',
            name: "Венера Саверьен",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;FERONEX',
            text: "Муж давно принимал стимулирующие таблетки. Побочным эффектом была раздражительность и головная боль. Настояла, чтобы заменить на Feronex. Полгода прошло, курс закончился, а муж теперь не нуждается в “помощи” перед сексом!"
        },

        {
            src: 'img/review_feronex_12.png',
            name: "Чарльз Паркер",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Feronex заказал ради интереса. Но эффект впечатлил! Плюс быстрая доставка и средство было хорошо упаковано."
        },

        {
            src: 'img/review_feronex_13.png',
            name: "Христофер Ринальдо",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Эффективное и безопасное средство для мужского здоровья. Еще и по доступной цене! Побочных эффектов не обнаружил."
        },

        {
            src: 'img/review_feronex_14.png',
            name: "Эдмунд Сиверс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Хорошая помощь при проблемах с эрекцией, которые возникли по разным причинам. Результат 100%! После курса о проблемах забыл."
        },

        {
            src: 'img/review_feronex_15.png',
            name: "Эдуардо Ферран",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;FERONEX',
            text: "Эффект есть с первых дней применения. Стали чаще с женой уединяться. Она счастлива, довольна. Чувствую себя снова молодым и способным на многое!"
        },
    ]