-
    const beautyAgeSkinReviews = [
        {
            src: 'img/review_beauty-age-skin_1.png',
            name: "Кира Даксон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Крем-сыворотка с муцином улитки — великолепное средство! Морщины разглаживает на 100%! Убирает пигментацию, кожа напитанная и увлажненная!"
        },
        {
            src: 'img/review_beauty-age-skin_2.png',
            name: "Селена Спаркс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Брала Beauty Age Skin попробовать. Осталась в восторге от этого средства! Кожа стала намного лучше, здоровый цвет, без отеков и воспалений. Супер!"
        },
        {
            src: 'img/review_beauty-age-skin_3.png',
            name: "Берта Ирандес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Beauty Age Skin — лучший крем! Для моей чувствительной кожи очень сложно подобрать средство, но это подошло. Полгода пользуюсь и наслаждаюсь эффектом каждый день!"
        },
        {
            src: 'img/review_beauty-age-skin_4.png',
            name: "Лаврония Сальва",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Сыворотка отличная! Приятные ощущения после нанесения, свежесть и увлажненность сохраняется на целый день. Уже на второй неделе морщин стала меньше."
        },
        {
            src: 'img/review_beauty-age-skin_5.png',
            name: "Симона Горисальдо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Прекрасно подходит для сухой кожи. Увлажняет и питает! Морщины разглаживает и подтягивает контур лица. Каждый день смотрю в зеркало и не могу нарадоваться результату."
        },
        {
            src: 'img/review_beauty-age-skin_6.png',
            name: "Роберт Серванто",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Жена пользуется средством Beauty Age Skin. Очень похорошела и помолодела. Кажется, будто и не было этих 20 лет!"
        },
        {
            src: 'img/review_beauty-age-skin_7.png',
            name: "Оливия Гаксон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Узнала про Beauty Age Skin уже давно. Прекрасный состав и отличное действие на кожу. Сколько пользуюсь, ни одной проблемы с кожей не было. Подтянутая, без морщин, увлажненная. Идеально!"
        },
        {
            src: 'img/review_beauty-age-skin_8.png',
            name: "Дебора Оливьери",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Кожа была очень проблемной и чувствительной. Крем-сыворотка Beauty Age Skin помог это исправить. Сейчас лицо в идеальном состояния. Ни морщин, ни пятен, ни высыпаний!"
        },
        {
            src: 'img/review_beauty-age-skin_9.png',
            name: "Клаудия Шойсон",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Увидела Beauty Age Skin у сестры. 5 лет не виделись, а она не изменилась. Разгадала ее секрет и себе заказала. Результат невероятный."
        },
        {
            src: 'img/review_beauty-age-skin_10.png',
            name: "Тиара Родригез",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin',
            text: "Отличный и легкий крем для жирной кожи. Под макияж тоже хорошо ложится, не скатывается и нет ощущения пленки на лице. Прекрасная и текстура и аромат!"
        },
    ]