-
    const visopticDuoDayReviews = [
        {
            src: 'img/review_visoptic-duo-day_1.png',
            name: "Мария Алонсо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Давно искала что-то хорошее для глаз. Остановилась на Visoptic Duo Day. Отличное средство в форме капсул. Недорогое, с растительным составом. И главное — эффективное."
        },

        {
            src: 'img/review_visoptic-duo-day_2.png',
            name: "Кэйт Смитс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Мой незаменимый помощник от усталости и сухости в глаз. Устраняет дискомфорт и хорошо увлажняет. Если глаза постоянно в напряжении, Visoptic Duo Day — то, что нужно!"
        },

        {
            src: 'img/review_visoptic-duo-day_3.png',
            name: "Серхио Фергаро",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "За курс использования зрения заметно улучшилось. Стал лучше видеть, могу читать без очков. Предметы вдали еще немного размыты, но раньше я вообще не понимал, что там."
        },

        {
            src: 'img/review_visoptic-duo-day_4.png',
            name: "Джулиана Мэй",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Ранее использовала капли для глаз, но когда попробовала Visoptic Duo Day, поняла, что эти капсулы — лучше всего! Использовать легче, эффект сильнее и длительнее."
        },

        {
            src: 'img/review_visoptic-duo-day_5.png',
            name: "Софи Нолан",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Благодаря капсулам Visoptic Duo Day глаза перестали слезиться, пропала пелена перед глазами, видеть стала лучше. Результат есть! Рекомендую!"
        },

        {
            src: 'img/review_visoptic-duo-day_6.png',
            name: "Шарлотта Микрег",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Использую капсулы Visoptic Duo Day в профилактических целях. У всей семьи проблемы с глазами. Я еще в 27 линзы начала носить. Последние несколько лет зрение только ухудшалось, но с Visoptic Duo Day становится лучше."
        },

        {
            src: 'img/review_visoptic-duo-day_7.png',
            name: "Чарльз Коннели",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Из-за постоянной работы за компьютером дальнозоркость, боли в глаза и красные сосуды на белках. Visoptic Duo Day спасает! Убирает неприятные симптомы и зрение улучшается!"
        },

        {
            src: 'img/review_visoptic-duo-day_8.png',
            name: "Камила Фергарес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Брала Visoptic Duo Day протестировать. Эффект приятно впечатлил. Заметно улучшилось зрение. Увлажняющего действия одной капсулы хватает на целый день!"
        },

        {
            src: 'img/review_visoptic-duo-day_9.png',
            name: "Тимоти Гельберт",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Хороший тонизирующий и увлажняющий эффект! Напряжение с глаз снимает. Раньше к вечеру перед глазами как будто пелена была, после Visoptic Duo Day такого ощущения нет."
        },

        {
            src: 'img/review_visoptic-duo-day_10.png',
            name: "Стелла Кларсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO DAY',
            text: "Выбрала Visoptic Duo Day из-за состава. Много хороших компонентов, которые поддерживают здоровье глаз. Эффект есть! Зрение стало лучше!"
        },
    ]