-
    const neoverisReviews = [
        {
            src: 'img/review_neoveris_1.png',
            name: "Маргари Питрелл",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Только недавно заказала гель Neoveris.Есть приятный охлаждающий эффект после нанесения.Уже через несколько дней появилась легко, есть начальный эффект."
        },

        {
            src: 'img/review_neoveris_2.png',
            name: "Люсия Армандес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Эффективный гель, который снимает тяжесть и усталость с ног.Прошла пульсирующая боль и боль при ходьбе, продолжаю использование."
        },

        {
            src: 'img/review_neoveris_3.png',
            name: "Ариадна Фанте",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Пропала отечность и тяжесть в ногах, перестали беспокоить судороги, и вены стали менее заметны.Рекомендую!"
        },

        {
            src: 'img/review_neoveris_4.png',
            name: "Лейла Фергарос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Отличное и эффективное средство, быстрая доставка, приятные консультанты.Спасибо!"
        },

        {
            src: 'img/review_neoveris_5.png',
            name: "Филат Барбесон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;NEOVERIS',
            text: "Покупал Neoveris для мамы, она очень довольна.Говорит, что стало намного легче, ноги меньше отекают и не болят!"
        },

        {
            src: 'img/review_neoveris_6.png',
            name: "Вероника Вайтс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Сосудистые сеточки на ногах стали почти незаметными, убирает боль и предупреждает отек.Хорошо помогает!"
        },

        {
            src: 'img/review_neoveris_7.png',
            name: "Виктория Ласкес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Приятная и легкая консистенция, растительные компоненты в составе, доступная цена.А главное — есть эффект!"
        },

        {
            src: 'img/review_neoveris_8.png',
            name: "Томас Лоурсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;NEOVERIS',
            text: "Предотвратил воспаление вен и быстро убрал боль.Исчезли судороги по ночам.Даже после тяжелого дня нет тяжести и отечности."
        },

        {
            src: 'img/review_neoveris_9.png',
            name: "Глория Лубрекс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Neoveris вернул легкость в ногах.Вены перестали воспаляться, исчезли сосудистые сеточки.Очень приятный эффект после нанесения."
        },

        {
            src: 'img/review_neoveris_10.png',
            name: "Кристофер Гельбес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;NEOVERIS',
            text: "Активно занимаюсь спортом из - за чего на ногах появляются синяки и боль.После использования Neoveris такой проблемы нет.Боль проходит, даже после нагрузок нет проблем."
        },

        {
            src: 'img/review_neoveris_11.png',
            name: "Фредерика Альварес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Про гель Neoveris узнала недавно.Очень много положительных отзывов.Сразу ощутила результат, тяжесть ушла, вены не такие вздутые.Довольна!"
        },

        {
            src: 'img/review_neoveris_12.png',
            name: "Жаннет Вивалес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Давно имею проблемы с венами, досталось по наследству.Боялась операции страшно, но Neoveris помог ее предотвратить.Вены стали менее заметны, ушла тяжесть и боль, прошли судороги."
        },

        {
            src: 'img/review_neoveris_13.png',
            name: "Урсула Небельсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Хороший результат!Сразу почувствовала приятное облегчение.Ночь проспала без судорог и боли.Буду продолжать использовать."
        },

        {
            src: 'img/review_neoveris_14.png',
            name: "Рамона Кармелес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;NEOVERIS',
            text: "Neoveris — лучшее из всего, что пробовала.Уже разочаровалась в гелях и кремах, а после Neoveris поняла, что хорошее средство может помочь в борьбе с расширением вен!"
        },

        {
            src: 'img/review_neoveris_15.png',
            name: "Эрнест Волрес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;NEOVERIS',
            text: "Neoveris использует жена, у нее с молодости проблемы с венами.Результатом довольна.Последние полгода на здоровье не жаловалась, и вены почти не видны на ногах."
        },
    ]

   
    