-
    const wirexMensFormulaReviews = [
        {
            src: 'img/review_wirex-mens-formula_1.png',
            name: "Джереми Клосак",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Помог решить мне свои “мужские проблемы”. Не буду рассказывать в деталях, но эрекция вернулась с новой силой. Хватает надолго!"
        },

        {
            src: 'img/review_wirex-mens-formula_2.png',
            name: "Люберт Фердинез",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Работает, как надо. За последние месяцы ни одной осечки. Без привыкания и побочных эффектов."
        },

        {
            src: 'img/review_wirex-mens-formula_3.png',
            name: "Барбара Деласкон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Заказывала для мужа, когда у нас появились проблемы в сексе. Все стало намного лучше, чаще и дольше. Оказывается, муж у меня еще может удивить!"
        },

        {
            src: 'img/review_wirex-mens-formula_4.png',
            name: "Диего Сантьяго",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "С возрастом каждый мужчина может столкнуться с проблемами в интимном плане. У меня тоже были, пока не попробовал Wirex men`s formula. Рекомендую!"
        },

        {
            src: 'img/review_wirex-mens-formula_5.png',
            name: "Клаудия Элькасар",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Удивляло поведение мужа в последние время, как будто в молодость вернулся. А потом нашла в его сумке Wirex men`s formula и все поняла."
        },

        {
            src: 'img/review_wirex-mens-formula_6.png',
            name: "Луцио Маркес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Мягкий и долгоиграющий эффект, можно принимать с алкоголем и не вредит здоровью."
        },

        {
            src: 'img/review_wirex-mens-formula_7.png',
            name: "Томаш Жардек",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "За курс может полностью восстановить вашу “силу”. После курса эффект сохраняется. Побочных свойств у меня не было."
        },

        {
            src: 'img/review_wirex-mens-formula_8.png',
            name: "Дафна Фокстрит",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "У мужа на фоне стресса начались проблемы “по-мужски”. Уговорила попробовать Wirex men`s formula, он помог! К нему вернулось желание, секс каждый день!"
        },

        {
            src: 'img/review_wirex-mens-formula_9.png',
            name: "Ребекка Шстраусон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Отличное средство. Муж доволен Wirex men`s formula, а я наконец довольна мужем. Даже не думала, что он способен держаться часами!"
        },

        {
            src: 'img/review_wirex-mens-formula_10.png',
            name: "Августин Петрес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Отличное средство, помогает! Спасибо за консультацию и доставку до двери. Эффект появился с первых дней применения."
        },

        {
            src: 'img/review_wirex-mens-formula_11.png',
            name: "Орландо Дайрес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Лучшее средство среди аналогов. Плюсы: достаточно пропить курсом и эффект сохраняется, можно принимать с алкоголем, не вызывает побочных свойств."
        },

        {
            src: 'img/review_wirex-mens-formula_12.png',
            name: "Лена Гаврош",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "От себя и от имени мужа большое спасибо за такое качественное средство. Вернул в нашу жизнь интимную близость, помог сохранить семью!"
        },

        {
            src: 'img/review_wirex-mens-formula_13.png',
            name: "Лукьян Морнаш",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Эффект есть, давление не поднимает, с алкоголем совместим. После курса результат сохраняется. Как по мне лучший продукт из категории."
        },

        {
            src: 'img/review_wirex-mens-formula_14.png',
            name: "Михаэль Вернандес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Возбуждающая вещь, долгая потенция и усиленные ощущения. К тому же по довольно доступной цене. Минусов не обнаружил."
        },

        {
            src: 'img/review_wirex-mens-formula_15.png',
            name: "Роберт Вайнс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;WIREX MEN`S FORMULA',
            text: "Слабо верил, что Wirex men`s formula может помочь, но ошибался. Результат ощутил с первых дней, после курса здоровье восстановилось, проблем с “другом” больше не было."
        },
    ]
