-
    const wintexUltraReviews = [
        {
            src: 'img/review_wintex-ultra_1.png',
            name: "Виктория Вербер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Wintex Ultra убрал тяжесть и отечность с ног уже в первые дни. Стало намного легче. Эффективная помощь для людей, которые страдают от варикоза."
        },

        {
            src: 'img/review_wintex-ultra_2.png',
            name: "Марсель Лучиано",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Попробовал Wintex Ultra на прошлой неделе. Хороший гель, с первого применения ощутил облегчение. Буду продолжать использование."
        },

        {
            src: 'img/review_wintex-ultra_3.png',
            name: "Дорина Петрак",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Прекрасный гель Wintex Ultra с приятным охлаждающим эффектом. Быстро впитывается и дарит облегчение! Довольна на 100%!"
        },

        {
            src: 'img/review_wintex-ultra_4.png',
            name: "Олена Спаркс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Отечность и тяжесть пропали, перестали болеть икры. Отдельное спасибо за быструю доставку и подробную консультацию по телефону."
        },

        {
            src: 'img/review_wintex-ultra_5.png',
            name: "Джошуа Мартин",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Сын пользуется Wintex Ultra и мне порекомендовал. Отличный гель для тех, кто живет с варикозом или целый день проводит стоя. Снимает тяжесть, боль, отеки."
        },

        {
            src: 'img/review_wintex-ultra_6.png',
            name: "Изабелла Мардоно",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Выбросила все крема и мази, оставила только Wintex Ultra. Превосходное средство по приятной цене. Помогает! Эффект ощущаю сразу после нанесения!"
        },

        {
            src: 'img/review_wintex-ultra_7.png',
            name: "Альба Риммель",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "После применения геля Wintex Ultra вены действительно стали менее заметны. Сосудистые сетки исчезли. Использую Wintex Ultra курсами два раза в год и никаких проблем!"
        },

        {
            src: 'img/review_wintex-ultra_8.png',
            name: "Вайолет Рональдо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Заказывала Wintex Ultra для мамы, она очень довольна. Говорит, что ей намного легче с этим гелем. Ноги меньше отекают, судороги и боль перестали беспокоить."
        },

        {
            src: 'img/review_wintex-ultra_9.png',
            name: "Зара Ферран",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Wintex Ultra убирает боль, вены и сосудистые сеточки становятся менее заметны. Удобно, что никуда не нужно за ним ходить, можно заказать в интернете и получить у дверей."
        },

        {
            src: 'img/review_wintex-ultra_10.png',
            name: "Фредерика Суарес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Прекрасный гель! Быстро впитывается, дарит приятное охлаждение, имеет легкую консистенцию и приятный аромат. Пользуюсь вторую неделю, результат уже ощущаю."
        },

        {
            src: 'img/review_wintex-ultra_11.png',
            name: "Элиза Даррон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Пробовала разные мази и крема от варикоза, Wintex Ultra — лучшее средство. Отличный натуральный состав и эффективное воздействие. Тяжесть в ногах прошла, чувствую легкость!"
        },

        {
            src: 'img/review_wintex-ultra_12.png',
            name: "Тина Альсар",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "После курса использования ноги перестали болеть, пропали судороги и отечности! Вены больше не воспаляются. Планирую закрепить результат повторным курсом."
        },
        {
            src: 'img/review_wintex-ultra_13.png',
            name: "Маркус Лобио",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Гель эффективный и доступный по цене. Не помню, чтобы еще какое-то средство могло надолго избавить от тяжести в ногах. Доволен действием и эффективностью!"
        },

        {
            src: 'img/review_wintex-ultra_14.png',
            name: "Лаура Чесней",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "С помощью Wintex Ultra вернула себе легкость в ногах и избавилась от сосудистых звездочек. Плюсы: хороший состав, легкая текстура и приятный аромат. Минусов нет!"
        },

        {
            src: 'img/review_wintex-ultra_15.png',
            name: "Кейтлин Томпсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Wintex Ultra',
            text: "Приятно охлаждает, снимает боль, перестали судороги по ночам беспокоить. Эффект ощутила с первых дней, и с каждым днем становилось все лучше!"
        },
    ]
