-
    const vermixinReviews = [
        {
            src: 'img/review_vermixin_1.png',
            name: "Глория Уилборн",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Живу с двумя собаками и кошкой, перепробовала много средств от глистов. Остановилась на Vermixin. Очень эффективная профилактика, за несколько лет ни одного случая."
        },
        {
            src: 'img/review_vermixin_2.png',
            name: "Тереза Мунчо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Vermixin — лучшее средство для очищения. Эффект ощутила на себе, когда столкнулась с “гостями” в моем организме. Очищает мягко, эффективно. Большой плюс — натуральный состав."
        },
        {
            src: 'img/review_vermixin_3.png',
            name: "Хельга Ловинтон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Используем Vermixin всей семьей. Хорошее средство и для профилактики и для очищения."
        },
        {
            src: 'img/review_vermixin_4.png',
            name: "Генри Шпиггер",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VERMIXIN',
            text: "Средство недорогое, но действенное. Работает! Побочных свойств не вызвал! Спасибо за быструю доставку и консультацию!"
        },
        {
            src: 'img/review_vermixin_5.png',
            name: "Урсула Декартес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Vermixin заказываю не в первый раз. Использую в целях профилактики. Достоинства: натуральный состав, цена, отсутствие побочных эффектов."
        },
        {
            src: 'img/review_vermixin_6.png',
            name: "Лолита Рейгас",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Гельминты — вещь неприятная, но никто не застрахован. Если столкнулись с этой проблемой, рекомендую Vermixin. Мне помог!"
        },
        {
            src: 'img/review_vermixin_7.png',
            name: "Милош Тодовецки",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VERMIXIN',
            text: "Несколько месяцев не мог понять, что со мной. Оказалось, глисты!!! Смог оценить эффективность средства Vermixin на собственном опыте. Помогает, не вызывая побочных свойств!"
        },
        {
            src: 'img/review_vermixin_8.png',
            name: "Петр Ковальски",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VERMIXIN',
            text: "После поездки в Азию привез с собой не только сувениры. Пробовал разные средства против гельминтов, только Vermixin оказал нужный эффект. Впредь буду осторожнее с гастрономическими экскурсиями."
        },
        {
            src: 'img/review_vermixin_9.png',
            name: "Милена Ронклад",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Стараюсь регулярно принимать антипаразитные средства в целях профилактики. Боялась их токсичности. Сейчас предпочитаю только Vermixin. Натуральное и безопасное!"
        },
        {
            src: 'img/review_vermixin_10.png',
            name: "Элизабет Лайдес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Очищает организм мягко, не вызывает тошноты. За курс смогла вывести этих паразитов и восстановить работу пищеварительной системы."
        },
        {
            src: 'img/review_vermixin_11.png',
            name: "Белла Харкинс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Спасибо за качественное средство и быструю доставку. Осталась очень довольна средством Vermixin. При необходимости буду брать еще, но надеюсь не понадобится."
        },
        {
            src: 'img/review_vermixin_12.png',
            name: "Диана Тоурренс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Vermixin хорошо очищает и восстанавливает работу организма. Натуральный состав исключает риск интоксикации. Рекомендую!"
        },
        {
            src: 'img/review_vermixin_13.png',
            name: "Селена Ренеми",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Действенное средство от глистов и лямблий. Помогает быстро, но лучше пропить курсом для полного восстановления."
        },
        {
            src: 'img/review_vermixin_14.png',
            name: "Джонатан Тройс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VERMIXIN',
            text: "Владельцам кошек и собак рекомендую! Лучше заранее предотвратить проблему, потом будет сложнее избавиться от этих гадов!"
        },
        {
            src: 'img/review_vermixin_15.png',
            name: "Катина Мартин",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VERMIXIN',
            text: "Безопасный, эффективно борется с разными видами паразитов. Не вызывает побочных эффектов и помогает восстановиться после заражения."
        },
    ]
