-
    const Reviews = [
        {
            src: 'img/review_beauty-age-complex_1.png',
            name: "Сара Фергюсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Complex',
            text: "Beauty Age Complex — это волшебство. Пользуюсь и наслаждаюсь. Качественные, эффективные продукты с хорошим омолаживающим эффектом."
        },

        {
            src: 'img/review_beauty-age-complex_2.png',
            name: "Августа Дорин",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Complex',
            text: "Для меня Beauty Age Complex стал открытием! Вижу результат и экономлю на косметических процедурах. Каждый день лицо будто после салонного ухода."
        },

        {
            src: 'img/review_beauty-age-complex_3.png',
            name: "Демиана Фалко",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Complex',
            text: "Недавно заказала Beauty Age Complex. За несколько недель кожа стала лучше, подтянулся контур лица. Морщины действительно разглаживаются. Прожитых лет будто не было!"
        },

        {
            src: 'img/review_beauty-age-complex_4.png',
            name: "Ролана Лайкор",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Complex',
            text: "После использования Beauty Age Complex не согласна на другие средства. Эффект бесподобный! Кожа омолодилась, ни морщин, ни пигментации, ни воспалений на лице. Прекрасно!"
        },

        {
            src: 'img/review_beauty-age-complex_5.png',
            name: "Франческа Мартинес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Complex',
            text: "Дочь подарила Beauty Age Complex. Раньше я косметикой вообще не пользовалась. А сейчас не представляю, как обходится без этого комплекса. Хорошо увлажняет, подтягивает и разглаживает морщины."
        },
    ]