-
    const ottomaxReviews = [
        {
            src: 'img/review_ottomax_1.png',
            name: "Мэри Луческу",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Когда начались проблемы со слухом, долго искала средство. Порекомендовали Ottomax+. Эффект однозначно есть! Перестала переспрашивать собеседника. И стоит недорого!"
        },

        {
            src: 'img/review_ottomax_2.png',
            name: "Фредерика Гарсиа",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Отличное средство для восстановления слуха. Положительное улучшения заметила уже через несколько недель. Если работаете на шумном производстве, можно использовать и для профилактики."
        },

        {
            src: 'img/review_ottomax_3.png',
            name: "Мишель Фарцио",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Хорошо помогает от боли и шума в ушах. Помогает устранить звон. Из плюсов: эффективность, натуральный состав, доступная цена."
        },

        {
            src: 'img/review_ottomax_4.png',
            name: "Орландо Лортес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Месяцами мучался с каплями для ушей, пока не узнал про Ottomax+. Намного удобнее использовать и результат есть. Слышать стал лучше, звон в ушах пропал."
        },

        {
            src: 'img/review_ottomax_5.png',
            name: "Томаш Оловецки",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OTTOMAX+',
            text: "При проблемах со слухом помогает. Эффективен при воспалениях (принимал при отите и все прошло). Снимает боль."
        },

        {
            src: 'img/review_ottomax_6.png',
            name: "Джули Тарокс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Оценила эффективность Ottomax+, когда потеряла слух после концерта. Помогает. Большой плюс, что средство в форме капсул, а не капли."
        },

        {
            src: 'img/review_ottomax_7.png',
            name: "Габриэль Мартинос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Грипп дал осложнение на ухо. Болело ужасно, появился шум в ушах. Таблетки боль снимали, но полностью восстановить слух помог только Ottomax+. Теперь рекомендую знакомым и друзьям!"
        },

        {
            src: 'img/review_ottomax_8.png',
            name: "Генриетта Йорк",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "С возрастом стал стремительно ухудшаться слух. Знакомый специалист порекомендовал Ottomax+. И он действительно помог! Избавил меня от шума, который постоянно преследовал."
        },

        {
            src: 'img/review_ottomax_9.png',
            name: "Альберт Деборес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Средство помогает. Спасибо за быструю доставку до двери и возможность заказать через интернет. Консультанты приветливые и отвечают на все вопросы."
        },

        {
            src: 'img/review_ottomax_10.png',
            name: "Хелена Кортес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Заказывала Ottomax+ для бабушки. И она говорит, и я вижу, что слух у нее улучшился. Еще говорит, что стала лучше спать. Значит при возрастных проблемах может помочь!"
        },

        {
            src: 'img/review_ottomax_11.png',
            name: "Лукас Барбардес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Помог избавиться от ощущения заложенности уха и звона. Стал лучше слышать. Думаю пройти еще один курс для закрепления результата."
        },

        {
            src: 'img/review_ottomax_12.png',
            name: "Агнес Батрокс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Прекрасное средство для здоровья ушей. Богатый и натуральный состав, эффективность, минимум противопоказаний. Еще и по такой цене! Замечательно!"
        },

        {
            src: 'img/review_ottomax_13.png',
            name: "Сальма Форексиз",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Ottomax+ беру не в первый раз. Помогает и от хронических недугов, и от возрастного нарушения слуха. Использую и при воспалениях. Средством очень довольна!"
        },

        {
            src: 'img/review_ottomax_14.png',
            name: "Морис Штраус",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Это средство помогло избежать операции и снять слуховой аппарат. Проходил несколько курсов в год, как рекомендовал специалист. Слышу хорошо, никаких проблем со слухом нет."
        },

        {
            src: 'img/review_ottomax_15.png',
            name: "Кларисса Морнос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;OTTOMAX+',
            text: "Работаю в шумном помещении и это негативно сказывается на слухе. А после Ottomax+ слышать стала значительно лучше, к вечеру нет шума в ушах, даже сон улучшился! Благодарю за качественное и эффективное средство!"
        },
    ]
