-
    const tonerinReviews = [
        {
            src: 'img/review_tonerin_1.png',
            name: "Элиза Фергасон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Хорошо и мягко снижает давление. Скачки стали тревожить намного реже. Головокружение прошло!"
        },

        {
            src: 'img/review_tonerin_2.png',
            name: "Патриция Лумстронг",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Выбрала Tonerin из-за состава. Очень мягкое, но эффективное средство. Давление перестало скакать, побочных свойств не обнаружила."
        },

        {
            src: 'img/review_tonerin_3.png',
            name: "Луи Персиваль",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TONERIN',
            text: "Прошла слабость, утомляемость, избавился от боли в сердце. Облегчение почувствовал с первых дней. После курса давление перестало беспокоить."
        },

        {
            src: 'img/review_tonerin_4.png',
            name: "Клаудия Робертос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Покупала Tonerin для родителей. Все остальное отказываются принимать. Говорят, лучше этого средства ничего нет!"
        },

        {
            src: 'img/review_tonerin_5.png',
            name: "Мишель Сальвадос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Впервые попробовала Tonerin несколько лет назад. С тех пор забыла о проблемах со здоровьем. Два профилактических курса в год — и давление всегда в норме!"
        },

        {
            src: 'img/review_tonerin_6.png',
            name: "Себастьян Лопес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TONERIN',
            text: "Эффективное средство. Давление снижает мягко без резких скачков. Теперь только Tonerin и принимаю!"
        },

        {
            src: 'img/review_tonerin_7.png',
            name: "Моника Франко",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Очень нравится Tonerin для снижения давления. Сразу обратила внимание на его натуральный состав, а когда попробовала, поняла, что лучше ничего не найду!"
        },

        {
            src: 'img/review_tonerin_8.png',
            name: "Августа Ранчез",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "После средства Tonerin перестала принимать всю свою аптечку из 10 средств. Постепенно здоровье полностью восстановилась, проблемы как будто и не было никогда."
        },

        {
            src: 'img/review_tonerin_9.png',
            name: "Стефан Сервантес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TONERIN',
            text: "Мама годами жила с гипертонией. Порой доходило до критического состояния, только Tonerin и спасал. Сейчас активная, энергичная, на здоровье вообще перестала жаловаться."
        },

        {
            src: 'img/review_tonerin_10.png',
            name: "Альберт Томсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TONERIN',
            text: "Перепробовал столько дорогих разрекламированных средств от давления. Все впустую, только деньги выкинул. А Tonerin помогает. С первых дней становится легче, а после курса вообще о давлении можно забыть."
        },

        {
            src: 'img/review_tonerin_11.png',
            name: "Дебора Спенсер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Tonerin — лучшее, что пробовала от давления. Натуральный состав, не вызывает привыкания и побочных эффектов у меня. Результат точно есть!"
        },

        {
            src: 'img/review_tonerin_12.png',
            name: "Хлоя Паркинес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Заказала Tonerin несколько недель назад. Хорошо снижает давление, уже чувствую себя лучше дажу в жару. Хочу пройти полный курс, чтобы оценить результат."
        },

        {
            src: 'img/review_tonerin_13.png',
            name: "Марко Ибанез",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;TONERIN',
            text: "Tonerin порекомендовал знакомый специалист. И спасибо ему за это! Доступно по цене и эффективно для здоровья. Давление перестало подниматься, всегда стабильно, даже после переживаний нет скачков."
        },

        {
            src: 'img/review_tonerin_14.png',
            name: "Милфи Бортес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Tonerin стал моим спасением. До этого гипертония годами меня медленно убивала, поняла, что могу с ней справиться, только когда начала принимать Tonerin!"
        },

        {
            src: 'img/review_tonerin_15.png',
            name: "Олена Робинсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;TONERIN',
            text: "Когда появились проблемы с давлением, сразу начала искать что-то натуральное и эффективное, чтобы не допустить осложнений. Tonerin помог! Профилактический курс 2 раза в год и никаких скачков!"
        },
    ]
