-
    const miaflowIntenseReviews = [
        {
            src: 'img/review_miaflow-intense_1.png',
            name: "Фредерика Гонсалес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Замечательный крем! Отлично подошел для моей чувствительной кожи, дарит ощущение свежести, увлажненности, морщины разглаживает! Использую с удовольствием!"
        },

        {
            src: 'img/review_miaflow-intense_2.png',
            name: "Мартина Томшеш",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Крем Miaflow Intense подарила дочь. Я в восторге. Вижу, как изменилась кожа. Стала подтянутой, упругой. Расходуется экономно и текстура приятная."
        },

        {
            src: 'img/review_miaflow-intense_3.png',
            name: "Фабриция Ласкес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Легкий крем с приятным ароматом. Быстро впитывается, подходит в качестве основы под макияж. Хорошо подходит для сухой кожи, увлажняет на целый день."
        },

        {
            src: 'img/review_miaflow-intense_4.png',
            name: "Катрина Фернандес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Прекрасно! Стало намного меньше морщин, пропали шелушения. Кожа не краснеет, не зудит. Продукт бесподобный!"
        },

        {
            src: 'img/review_miaflow-intense_5.png',
            name: "Олена Школьц",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Заказываю уже третий раз. Кремом довольна на 100%. Больше не согласна на любые другие продукты, только Miaflow Intense!"
        },

        {
            src: 'img/review_miaflow-intense_6.png',
            name: "Ребекка Ляйцег",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Только начала пользоваться, но результат ощущаю. Кожа мягкая, бархатная! Раздражений или покраснений не вызвал, хоть у меня очень чувствительная кожа."
        },

        {
            src: 'img/review_miaflow-intense_7.png',
            name: "Берта Гомельс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Много слышала о применении муцина улитки в косметике, поэтому не удержалась перед покупкой этого крема. Результат увидела уже на следующей неделе, мелкие морщины разглаживаются, а глубокие становятся меньше."
        },

        {
            src: 'img/review_miaflow-intense_8.png',
            name: "Луиза Вальварес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Давно использую крем Miaflow Intense. Как результат: нет морщин, здоровый и равномерный цвет лица. Знакомые говорят, что за 20 лет я вообще не изменилась!"
        },

        {
            src: 'img/review_miaflow-intense_9.png',
            name: "Дария Фартонеш",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Miaflow Intense увидела у подруги, сразу заказала себе. Всегда удивлялась, как ей удается так выглядеть в ее 52, а здесь разгадала ее секрет."
        },

        {
            src: 'img/review_miaflow-intense_10.png',
            name: "Аманда Лукадес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Крем с муцином улитки по такой цене — идеальная покупка. К тому же работает на 100%! Легкая текстура, приятный аромат, хорошее увлажнение на целый день."
        },

        {
            src: 'img/review_miaflow-intense_11.png',
            name: "Диего Моралес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Заказал для жены Miaflow Intense, она в восторге. Выглядит прекраснее с каждым днем!"
        },

        {
            src: 'img/review_miaflow-intense_12.png',
            name: "Ровена Милкшон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Освежает, увлажняет, разглаживает морщины. Очень приятная текстура, которая не забивает поры и не создает ощущение пленки. Липкости нет, быстро впитывается и не скатывается."
        },

        {
            src: 'img/review_miaflow-intense_13.png',
            name: "Шарлотта Мойсак",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Чудо произошло! Не знаю как, но действительно стало меньше морщин. Цвет лица ровный, овал подтянулся. Особенно нравится, что после нанесения нет жирного блеска."
        },

        {
            src: 'img/review_miaflow-intense_14.png',
            name: "Клаудия Фалкос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "Miaflow Intense — мой фаворит. Легкая консистенция, но эффективное воздействие. Морщины уменьшаются, заполняются изнутри. После применения упругая и бархатная кожа."
        },

        {
            src: 'img/review_miaflow-intense_15.png',
            name: "Арелия Пентос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;MIAFLOW INTENSE',
            text: "От увядающей кожи к упругой и эластичной! Спасибо за такой чудесный крем! Легкий, не ощущается на лице, но результат вижу в зеркале каждый день!"
        },
    ]