-
    const keraminReviews = [
        {
            src: 'img/review_keramin_1.png',
            name: "Генриетта Лопарес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Годами боролась с грибком на ногах. Все средства имели только временный эффект. Keramin помог навсегда забыть об этой проблеме. Теперь здоровые и кожи и ногти! Отлично!"
        },

        {
            src: 'img/review_keramin_2.png',
            name: "Лаура Вальдос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Недавно обнаружила, что все кожа на шее в папилломах. Решила попробовать крем Keramin. Помогло. Довольно эффективное средство. Быстро избавилась от папиллом, кожа стала здоровой и увлажненной!"
        },

        {
            src: 'img/review_keramin_3.png',
            name: "Фаина Доусон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Обнаружила пятна на локтях, очень зудели и шелушились. Знакомый специалист порекомендовал Keramin. Средство прекрасное! Облегчение с первых дней, а после курса проблема вовсе ушла."
        },

        {
            src: 'img/review_keramin_4.png',
            name: "Бьянка Уилборн",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Имею положительный опыт использования крема Keramin. Отличный и эффективный продукт с маслами в составе! Смягчает кожу и помогает в борьбе с грибком."
        },

        {
            src: 'img/review_keramin_5.png',
            name: "Кевин Рейнос",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;KERAMIN',
            text: "Хорошо помогает от дерматологических проблем. Жена смогла избавиться от папиллом, а я от псориаза. Побочных эффектов не обнаружили!"
        },

        {
            src: 'img/review_keramin_6.png',
            name: "Луиза Майклсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "За несколько недель применения от грибка и следа не осталось. Все прошло. Пропали трещины, зуд почти сразу исчез. Довольно эффективно маскирует неприятный запах!"
        },

        {
            src: 'img/review_keramin_7.png',
            name: "Оруэлла Спенсер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Из-за гормональных сбоев начались проблемы с кожей. Сухость, трещины, зуд, особенно на коленях, голове и локтях. Помог только Keramin. Кожа полностью обновилась, а неприятные симптомы исчезли с первых дней!"
        },

        {
            src: 'img/review_keramin_8.png',
            name: "Роберт Трейдес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;KERAMIN',
            text: "Хорошее противовоспалительное средство. Не вызывает неприятных ощущений после нанесения. Работает!"
        },

        {
            src: 'img/review_keramin_9.png',
            name: "Бобби Сельварос",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;KERAMIN',
            text: "Спасибо за качественный и эффективный крем, быструю доставку и консультацию. Буду обращаться еще!"
        },

        {
            src: 'img/review_keramin_10.png',
            name: "Таира Малтонес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Помогает быстро очистить кожу от папиллом, не остается шрамов. После курса использования наросты перестали образовываться на шее, плечах и подмышках."
        },

        {
            src: 'img/review_keramin_11.png',
            name: "Вера Ральфос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Отличный противогрибковый крем! С первых дней устраняет зуд и неприятный запах, со временем кожа полностью обновилась и восстановилась. Рекомендую!"
        },

        {
            src: 'img/review_keramin_12.png',
            name: "Патриция Пеладнос",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Эффект приятно впечатлил! С каждым днем пятна становились меньше, заживали трещины. Результатом очень довольна!"
        },

        {
            src: 'img/review_keramin_13.png',
            name: "Лорена Пуффойс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Не знаю ничего более эффективного от грибка ногтей. Убирает расслоение пластины, поврежденный ноготь сростает, растет полностью здоровый. Помогло всего за курс!"
        },

        {
            src: 'img/review_keramin_14.png',
            name: "Дориан Террел",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;KERAMIN',
            text: "Действенное средство с натуральным составом. Видимые и ощутимые изменения с первых дней использования. За последний год ни одного рецидива псориаза."
        },

        {
            src: 'img/review_keramin_15.png',
            name: "Карина Поулсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;KERAMIN',
            text: "Лучший крем от дерматологических проблема. Оценила эффективность и в борьбе с грибком, и с папилломами. Благодаря Keramin моя кожа полностью здорова!"
        },
    ]
