-
    const deluronForteReviews = [
        {
            src: 'img/review_deluron-forte_1.png',
            name: "Модест Анвари",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "3 года назад поставили диагноз, пробовал разные средства и схемы восстановления. Помог только Deluron Forte. Заказывал в интернете с доставкой курьером."

        },
        {
            src: 'img/review_deluron-forte_2.png',
            name: "Августин Галеви",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Хорошее средство, помогает нормализовать процесс мочеиспускания, убирает боль. Действует с первой недели применения. Половое влечение тоже вернулось."
        },

        {
            src: 'img/review_deluron-forte_3.png',
            name: "Лора Кроус",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Заказывала для мужа. Говорит, результат есть. Стал лучше спать по ночам, секс в нашу жизнь вернулся. Продолжает курс."
        },

        {
            src: 'img/review_deluron-forte_4.png',
            name: "Стефан Родригез",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "На борьбу с простатитом было потрачено много денег и сил. А оказалось, решение было недорогим и эффективным. Помог Deluron Forte. С первых дней стало лучше."
        },

        {
            src: 'img/review_deluron-forte_5.png',
            name: "Отто Зегерс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Не верил в силу подобных чудодейственных средств, пока не попробовал Deluron Forte. Убрал болевой синдром, воспаление и постоянные позывы в туалет. Средство работает!"
        },

        {
            src: 'img/review_deluron-forte_6.png',
            name: "Клаудия Лаудерс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Муж принимал Deluron Forte. Деталями со мной не делился, но настроение у него улучшилось. К тому же возобновилась интимная жизнь. Наверное, помогает, раз такие изменения в его поведении."
        },

        {
            src: 'img/review_deluron-forte_7.png',
            name: "Долорес Кроуфорд",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Покупала Deluron Forte для деда. Для операции были противопоказания, других вариантов не было, надеялись только на Deluron Forte. И он помог! Размеры простаты после курса в пределах нормы!"
        },

        {
            src: 'img/review_deluron-forte_8.png',
            name: "Роберт Воравски",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Не знаю ничего более эффективного, чем Deluron Forte. Быстро устраняет боль, сокращает частоту позывов в туалет. Жить стало лучше!"
        },

        {
            src: 'img/review_deluron-forte_9.png',
            name: "Анна Велтибор",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;DELURON FORTE',
            text: "У мужа были проблемы, пробовали много всего, чтобы устранить воспаление и боль. Говорит, что эффект почувствовал только после Deluron Forte."
        },

        {
            src: 'img/review_deluron-forte_10.png',
            name: "Бернард Ковальски",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Хороший продукт на основе растительных компонентов. Убрал все признаки простатита, воспаление прошло. Побочных эффектов не вызвал."
        },

        {
            src: 'img/review_deluron-forte_11.png',
            name: "Луи Дортсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Простатит обнаружили еще 7 лет назад. Живу нормально и без осложнений только благодаря Deluron Forte. Два профилактических курса в год и никаких проблем со здоровьем."
        },

        {
            src: 'img/review_deluron-forte_12.png',
            name: "Ганс Зальцман",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Deluron Forte посоветовал знакомый эксперт. Перемерз и пришел к нему с жалобами. По дружески порекомендовал это средство. Жалобы пропали."
        },
        {
            src: 'img/review_deluron-forte_13.png',
            name: "Йозеф Шостек",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "С воспалением простаты мучился давно. Уже готов был на операцию, но Deluron Forte помог ее избежать. Сначала боль ушла и позывы в туалет сократились, а потом и воспаление полностью прошло."
        },

        {
            src: 'img/review_deluron-forte_14.png',
            name: "Ролан Кларк",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Давно не доверяю аптечным средствам. Когда нужна поддержка по-мужской части, беру Deluron Forte. Натуральный состав и помогает хорошо."
        },

        {
            src: 'img/review_deluron-forte_15.png',
            name: "Ролана Гравс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DELURON FORTE',
            text: "Выражаю благодарность от себя и от лица своего мужа. Спасибо за такое прекрасное средство, быструю доставку и консультацию. Помогло мужу! Наконец он снова здоров!"
        },
    ]
