-
    const depantenReviews = [
        {
            src: 'img/review_depanten_1.png',
            name: "Микаэла Камертон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Заказывала гель Depanten для мамы. Ей очень нравится. Быстро снимает боль с суставов, стала больше двигаться. От других средств отказывается."
        },

        {
            src: 'img/review_depanten_2.png',
            name: "Робин Майклсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DEPANTEN',
            text: "Помог восстановиться после травмы с коленом. Снял боль, отек и воспаление. От боли в мышцах тоже хорошо помогает."
        },

        {
            src: 'img/review_depanten_3.png',
            name: "Стефан Оливьеро",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DEPANTEN',
            text: "Действует быстро, после первого применения уже легче. С каждым днем становилось лучше. Доволен средством и цена на него отличная!"
        },

        {
            src: 'img/review_depanten_4.png',
            name: "Веранда Брекс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Приятные ощущения после нанесения, не печет и не жжет, лишь приятный холодок. Суставы болеть перестали, но еще продолжаю использовать."
        },

        {
            src: 'img/review_depanten_5.png',
            name: "Лейла Люморц",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Воспаление сустава убрал за несколько дней. Всегда держу под рукой, заказываю уже не в первый раз."
        },

        {
            src: 'img/review_depanten_6.png',
            name: "Пенелопа Фергес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Хорошо помогает и от спортивных травм и от возрастных проблем с суставами и костями. Действует быстро, неприятных ощущений не вызывает."
        },

        {
            src: 'img/review_depanten_7.png',
            name: "Лука Бойтон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DEPANTEN',
            text: "Заказал Depanten несколько недель назад. Средством остался доволен. Доставили быстро и ответили на все вопросы по телефону. Спасибо!"
        },

        {
            src: 'img/review_depanten_8.png',
            name: "Ребби Картинес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "У мамы было воспаление локтевого сустава, рукой не могла шевелить, Depanten помог! Воспаление и боль пропали, после курса применения вообще перестала жаловаться на боль в суставах."
        },

        {
            src: 'img/review_depanten_9.png',
            name: "Энрике Икледиас",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DEPANTEN',
            text: "Как у бывшего спортсмена есть проблемы с суставами. Только Depanten и спасает. С ним могу жить без боли!"
        },

        {
            src: 'img/review_depanten_10.png',
            name: "Рейчел Вайнар",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Помог сразу! До этого столько средств перепробовала, а полноценно избавиться от боли не могли. Depanten самое эффективное из всего, что использовала."
        },

        {
            src: 'img/review_depanten_11.png',
            name: "Рами Лойтес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DEPANTEN',
            text: "Гель хороший, помоге мне восстановить сустав и избавиться от боли в колене. Пропал хруст и краснота. Расходуется экономно."
        },

        {
            src: 'img/review_depanten_12.png',
            name: "Кира Вегнер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Depanten действует лучше обезболивающих таблеток, еще и сустав восстанавливает. Теперь использую только этот гель, результат ощущаю!"
        },

        {
            src: 'img/review_depanten_13.png',
            name: "Хелен Шнайдер",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Проверила и убедилась: Depanten — самая быстрая и эффективная помощь больным суставам. Ни воспаления, ни боли, ни отека! Отлично помогает!"
        },
        {
            src: 'img/review_depanten_14.png',
            name: "Аманда Касильяс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DEPANTEN',
            text: "Использовала Depanten в прошлом году. Помог избавиться от боли и вернуть себе подвижность. Сколько времени прошло, ни разу не было рецидива."
        },

        {
            src: 'img/review_depanten_15.png',
            name: "Гарри Паулсон",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DEPANTEN',
            text: "Действенное средство по доступной цене. Боль убирает сразу, постепенно уходит воспаление и отек. Доволен полностью! 10 из 10!"
        },
    ]