-
    const diaformReviews = [
        {
            src: 'img/review_diaform_1.png',
            name: "Сандра Олавердо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Натуральное средство, которое действительно работает. Помог снизить уровень сахара с 11,7 до 8,3. Отличная поддержка для людей с диабетом."
        },

        {
            src: 'img/review_diaform_2.png',
            name: "Ролана Робертс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "После приема средства Diaform+ сахар стабилизировался. Даже после окончания курса держится в пределах нормы!"
        },

        {
            src: 'img/review_diaform_3.png',
            name: "Патриция Лоуренс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Заказывала Diaform+ для мамы. Помог предотвратить скачки сахара и улучшил общее состоянии. Говорит, стала лучше спать, холестерин пришел в норму. Средством довольна!"
        },

        {
            src: 'img/review_diaform_4.png',
            name: "Агния Фергюс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Прекрасный продукт! Натуральный состав, эффективная поддержка, никаких побочных эффектов. И по доступной цене. Мне помогло!"
        },

        {
            src: 'img/review_diaform_5.png',
            name: "Олаф Геббельс",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DIAFORM+',
            text: "Принимал Diaform+ в прошлом году. За курс сахар пришел в норму. Год прошел, ситуация не ухудшилась. Спасибо за быструю доставку и консультацию!"
        },

        {
            src: 'img/review_diaform_6.png',
            name: "Маркус Кроуди",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DIAFORM+',
            text: "Принимал для профилактики осложнений, когда появились первые тревожные звоночки со здоровьем. Помог, состояние улучшилось!"
        },

        {
            src: 'img/review_diaform_7.png',
            name: "Тереза Мандино",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Недорогое, но сбалансированное по составу и эффективное средство. Сахар снизился до 7,5, холестерин пришел в норму, общее состояние стало лучше! Спасибо!"
        },

        {
            src: 'img/review_diaform_8.png',
            name: "Марио Петрес",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DIAFORM+',
            text: "Помог предупредить развитие диабета на ранней стадии. Здоровье улучшилось. Побочных эффектов не обнаружил!"
        },

        {
            src: 'img/review_diaform_9.png',
            name: "Ада Лоренцо",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Улучшения в работе организме ощутила почти сразу. Продолжаю курс до полного восстановления."
        },

        {
            src: 'img/review_diaform_10.png',
            name: "Гера Санчес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Самая хорошая добавка из всего, что я пробовала. Помогает и стоит недорого. Удобно заказывать в интернете, не нужно никуда ходить и искать по аптекам."
        },

        {
            src: 'img/review_diaform_11.png',
            name: "Мария Лукас",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Симптомы диабета убирает с первых дней применения. Сахар нормализует. Возвращает к нормальной полноценной жизни!"
        },

        {
            src: 'img/review_diaform_12.png',
            name: "Ровена Колсворд",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Сомневалась, стоит ли брать, но не пожалела. Действительно хорошая поддержка для организма. Довольна на 100%!"
        },

        {
            src: 'img/review_diaform_13.png',
            name: "Фредерик Паолини",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;DIAFORM+',
            text: "Держит сахар в норме! Даже после запрещенных продуктов нет скачков. Улучшился сон и стало меньше позывов в туалет. Рекомендую!"
        },

        {
            src: 'img/review_diaform_14.png',
            name: "Паула Гомес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Благодаря Diaform+ могу снова жить! Оказывается, это не приговор. Нужно лишь хорошее поддерживающее средство, такое как Diaform+!"
        },

        {
            src: 'img/review_diaform_15.png',
            name: "Сильвия Престон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Пробовала много средств, но остановилась на Diaform+. Чувствую его эффективность и сахар стабилизировался. Регулярно проверяю — все в норме!"
        },

        {
            src: 'img/review_diaform_16.png',
            name: "Дорина Бербек",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;DIAFORM+',
            text: "Заказывала Diaform+ для мужа. И сама вижу по нему, и он говорит, что чувствует с ним себя намного лучше. С каждым днем ему становилось легче, а со временем вообще перестал жаловаться на здоровье!"
        },
    ]