-
    const visopticDuoReviews = [
        {
            src: 'img/review_visoptic-duo_1.png',
            name: "Лукас Гармонт",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO',
            text: "Хороший и эффективный комплекс. Помогает восстановить зрение. Благодаря ему избавился от очков. Стал лучше видеть даже в ночное время."
        },

        {
            src: 'img/review_visoptic-duo_2.png',
            name: "Дорота Бейлез",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO',
            text: "Очень довольна комплексом Visoptic Duo. Устраняет усталость и напряжение с глаз, возвращает четкое, хорошее зрение. Эффективен при воспалениях."
        },

        {
            src: 'img/review_visoptic-duo_3.png',
            name: "Барбара Диаз",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO',
            text: "Отличная программа, останавливающая возрастные проблемы со зрением. Острота зрения улучшилась, пропал дискомфорт и сухость в глазах."
        },

        {
            src: 'img/review_visoptic-duo_4.png',
            name: "Леонардо Гомерло",
            desc: '<span class="review__mark">высказал</span> свое мнение про&nbsp;VISOPTIC DUO',
            text: "Visoptic Duo помогает убрать напряжение и усталость с глаз. Если ощущаете любой дискомфорт, работаете за компьютером или с мелкими деталями, рекомендую!"
        },

        {
            src: 'img/review_visoptic-duo_5.png',
            name: "Омелия Вильварде",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;VISOPTIC DUO',
            text: "Visoptic Duo помог избежать операции на глазах. За курс помог восстановить зрение, остановил прогрессирование катаракты. Отличные средства с действенным составом!"
        },
    ]
