-
    const beautyAgeSkinPeelingReviews = [
        {
            src: 'img/review_beauty-age-skin-peeling_1.png',
            name: "Тайра Габельсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Замечательный пилинг. Кожа после него мягкая, упругая, без жирного блеска. Хорошо очищает и увлажняет при этом. Неприятных ощущений не вызвал."
        },
        {
            src: 'img/review_beauty-age-skin-peeling_2.png',
            name: "Агнес Тревор",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Давно искала такое средство, как Beauty Age Skin Peeling. 3 в 1: и для умывания, и маска, и пилинг. Расходуется экономно, очищает эффективно. Ощущения после использования приятные!"
        },
        {
            src: 'img/review_beauty-age-skin-peeling_3.png',
            name: "Миранда Ролсон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Давно пользуюсь средством Beauty Age Skin Peeling. Кроме очищения подтягивает кожу и разглаживает морщины. Эффект увидела почти сразу!"
        },
        {
            src: 'img/review_beauty-age-skin-peeling_4.png',
            name: "Пенелопа Лесс",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Beauty Age Skin Peeling подошел для моей чувствительной и сухой кожи. Давно использую и очень довольна. Очень нежное, но при этом эффективное средство."
        },
        {
            src: 'img/review_beauty-age-skin-peeling_5.png',
            name: "Люси Клоусон",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "С первых дней использования кожа стала лучше. Мягкая, нежная, бархатная. Прошли воспаления, поры сузились. Цвет лица стал более равномерным."
        },
        {
            src: 'img/review_beauty-age-skin-peeling_6.png',
            name: "Фредерика Лопес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Beauty Age Skin Peeling — лучшее, что я пробовала. Предпочитаю исключительно натуральную косметику. Это средство — самое любимое!"
        },
        {
            src: 'img/review_beauty-age-skin-peeling_7.png',
            name: "София Вергара",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Натуральный состав, приятный, ненавязчивый аромат, экономный расход и эффект в виде разглаживании морщин. 10 из 10!"
        },
        {
            src: 'img/review_beauty-age-skin-peeling_8.png',
            name: "Адриана Торрес",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Начала использовать недавно, но безумно нравится и довольна результатом. Нет ощущения стянутости, кожа мягкая, упругая, подтянутая. Пигментация осветляется и воспаления проходят."
        },
        {
            src: 'img/review_beauty-age-skin-peeling_9.png',
            name: "Мартина Пекшак",
            desc: '<span class="review__mark">высказала</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Прекрасно! Пропал жирный блеск, поры сузились. По ощущениям кожа стала более упругой и уголки рта приподнялись. В восторге от результата!"
        },
        {
            src: 'img/review_beauty-age-skin-peeling_10.png',
            name: "Надин Дортман",
            desc: '<span class="review__mark">высказалa</span> свое мнение про&nbsp;Beauty Age Skin Peeling',
            text: "Очищает, подтягивает, увлажняет и питает кожу. Столько свойств в одном средстве и по такой доступной цене! Даже пятна пигментные стали светлее! От возрастных изменений рекомендую!"
        },
    ]