include ../../mixins/product-page

-
	var PRODUCT_NAME = 'Steplex'
	var PRODUCT_CARD = LANG.product_card;
	var CURRENT_PRODUCT = LANG.steplex;
	var RECOMMENDATIONS = LANG.recommendations.filter(prod => prod.name === 'GUAVITAL+' || prod.name === 'Neoveris' || prod.name === 'Exofeet Oil')
	var REVIEWS = LANG.reviews.reviews_steplex;
	REVIEWS.length = 3;

+productPage(PRODUCT_NAME, PRODUCT_CARD, CURRENT_PRODUCT, RECOMMENDATIONS, REVIEWS)