- var TITLE = LANG.menu.menu_title_review;

section.reviews-main
	.container
		h2.reviews-main__title.title!=TITLE
		.reviews-main__list.js-slider-reviews-wrap
			.reviews-main__wrapper.swiper-wrapper
				include reviews-list

			.reviews-main__scrollbar.scrollbar.js-slider-reviews-scrollbar