extends templates/layout/layout-prod.pug
block head
	title Naturallic - Beauty Age Skin
block content
	include templates/mixins/menu
	+menu("beauty-age-skin")
	include templates/product/beauty_skin/beauty_skin
