extends templates/layout/layout-prod.pug
block head
	title Naturallic - Beauty Age Skin Peeling
block content
	include templates/mixins/menu
	+menu("beauty-age-skin-peeling")
	include templates/product/beauty_peeling/beauty_peeling
