extends templates/layout/layout.pug
block head
	-var title = LANG.menu.menu_title_contacts
	title Naturallic - #{title}
block content
	include templates/mixins/menu
	+menu("contacts")
	include templates/contacts/main