extends templates/layout/layout-prod.pug
block head
    title Naturallic - Guavital+
block content
    include templates/mixins/menu
    +menu("guavital")
    include templates/product/guavital/guavital
