extends templates/layout/layout.pug
block head
	-var title = LANG.page_names.home
	title Naturallic - #{title}
block content
	include templates/mixins/menu
	+menu("index")

	include templates/home/header
	include templates/home/hits
	include templates/home/categories
	include templates/home/faq
	include templates/home/reviews
	include templates/home/about