extends templates/layout/layout-prod.pug
block head
    title Naturallic - Ophtalax
block content
    include templates/mixins/menu
    +menu("ophtalax")
    include templates/product/ophtalax/ophtalax
