extends templates/layout/layout-prod.pug
block head
    -var title = LANG.terms.terms_title
    title Naturallic - #{title}
block content
    include templates/mixins/menu
    +menu("terms")
    include templates/terms/main