extends templates/layout/layout-prod.pug
block head
	title Naturallic - Visoptic DUO Day
block content
	include templates/mixins/menu
	+menu("visoptic-duo-day")
	include templates/product/visoptic_day/visoptic_day