- var ABOUT = LANG.home.about;

section.about
	.container
		h2.about__title.title!=ABOUT.about_block_title
		img.about__logo(src="img/svg/logo.svg", alt="Naturallic")
		.about__desc
			p.about__text!=ABOUT.about_block_text1
			p.about__text!=ABOUT.about_block_text5