.success-reviews
    .container
        .success-reviews__slider.js-slider-reviews-wrap
            .success-reviews__list.js-slider-reviews.swiper-wrapper
                include ../home/reviews-list
            .success-reviews__scrollbar.scrollbar.js-slider-reviews-scrollbar